* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: $font-main;
}

body {
  background: $page-bg;
  color: $dark;
  direction: rtl;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
